* {
  box-sizing: border-box;
  outline: none;
}

div:empty {
  display: none;
}

.list {
  display: flex;

  &__wraper {

  }
}

.day {
  padding: 20px;
  border: 1px solid #ccc;

  &__week {
    margin-bottom: 20px;
    text-transform: capitalize;
  }
}

.pair {
  position: relative;
  display: flex;

  margin-bottom: 10px;

  div {
    display: block;
    width: 25%;

    &:last-child {
      width: 150px;
    }
  }

  input {
    width: 100%;
    padding: 0;

    &[readOnly] {
      border-color: transparent;
    }
  }
}

.col {
  width: 33%;
}

.field {
  width: 100%;
}

.item {
  display: flex;
}
